*.I[12]
*.o
*/.deps
/.deps
*~
.version
/ABOUT-NLS
/ChangeLog
/GNUmakefile
/INSTALL
/aclocal.m4
/autom4te.cache
/build-aux/*
/build-aux/*~
/build-aux/compile
/build-aux/config.guess
/build-aux/config.rpath
/build-aux/config.sub
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/config.cache
/config.log
/config.status
/gnulib
/gnulib-tests
/lib/*~
/lib/Makefile
/po/*~
/po/*.gmo
/po/*.po
/po/Makevars
/po/Makevars.template
/po/POTFILES
/src/*~
/src/version.c
/src/version.h
Makefile
THANKS
/maint.mk
