/_Noreturn.h
/alloca.c
/alloca.in.h
/arg-nonnull.h
/atexit.c
/basename-lgpl.c
/btowc.c
/c++defs.h
/c-ctype.c
/c-ctype.h
/c-strcase.h
/c-strcasecmp.c
/c-strcaseeq.h
/c-strncasecmp.c
/calloc.c
/cdefs.h
/close-stream.c
/close-stream.h
/close.c
/closeout.c
/closeout.h
/dirname-lgpl.c
/dirname.h
/dosname.h
/dup2.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fcntl.c
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/filename.h
/fpending.c
/fpending.h
/getdelim.c
/getdtablesize.c
/getline.c
/getopt-cdefs.in.h
/getopt-core.h
/getopt-ext.h
/getopt-pfx-core.h
/getopt-pfx-ext.h
/getopt.c
/getopt.in.h
/getopt1.c
/getopt_int.h
/getprogname.c
/getprogname.h
/gettext.h
/gnulib.mk
/hard-locale.c
/hard-locale.h
/iconv.c
/iconv.in.h
/iconv_close.c
/iconv_open-aix.gperf
/iconv_open-hpux.gperf
/iconv_open-irix.gperf
/iconv_open-osf.gperf
/iconv_open-solaris.gperf
/iconv_open.c
/intprops.h
/inttypes.in.h
/iswblank.c
/langinfo.in.h
/libc-config.h
/limits.in.h
/localcharset.c
/localcharset.h
/locale.in.h
/localeconv.c
/long-options.c
/long-options.h
/lstat.c
/malloc.c
/malloca.c
/malloca.h
/mbchar.c
/mbchar.h
/mbiter.c
/mbiter.h
/mbrtowc.c
/mbsinit.c
/mbslen.c
/mbsstr.c
/mbtowc-impl.h
/mbtowc.c
/mbuiter.c
/mbuiter.h
/memchr.c
/memchr.valgrind
/minmax.h
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/nl_langinfo.c
/pathmax.h
/pipe.c
/posixver.c
/posixver.h
/progname.c
/progname.h
/propername.c
/propername.h
/quote.h
/quotearg.c
/quotearg.h
/realloc.c
/regcomp.c
/regex.c
/regex.h
/regex_internal.c
/regex_internal.h
/regexec.c
/rpmatch.c
/stat-macros.h
/stat-time.c
/stat-time.h
/stat-w32.c
/stat-w32.h
/stat.c
/stdarg.in.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio-impl.h
/stdio.in.h
/stdlib.in.h
/stdnoreturn.in.h
/str-kmp.h
/streq.h
/strerror-override.c
/strerror-override.h
/strerror.c
/striconv.c
/striconv.h
/string.in.h
/stripslash.c
/strnlen.c
/strnlen1.c
/strnlen1.h
/sys_stat.in.h
/sys_types.in.h
/sys_wait.in.h
/time.in.h
/trim.c
/trim.h
/unistd.c
/unistd.in.h
/unistr.in.h
/unitypes.in.h
/uniwidth.in.h
/unused-parameter.h
/verify.h
/version-etc-fsf.c
/version-etc.c
/version-etc.h
/warn-on-use.h
/wchar.in.h
/wcrtomb.c
/wctype-h.c
/wctype.in.h
/wcwidth.c
/windows-mutex.c
/windows-mutex.h
/windows-once.c
/windows-once.h
/windows-recmutex.c
/windows-recmutex.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xmalloc.c
/xstriconv.c
/xstriconv.h
/yesno.c
/yesno.h
/assure.h
/die.h
/strtoimax.c
/strtol.c
/strtoll.c
/strtoul.c
/strtoull.c
/strtoumax.c
/xdectoimax.c
/xdectoint.c
/xdectoint.h
/xdectoumax.c
/xstrtoimax.c
/xstrtol-error.c
/xstrtol.c
/xstrtol.h
/xstrtoul.c
/xstrtoumax.c
/cloexec.c
/cloexec.h
/fclose.c
/fflush.c
/fopen.c
/fpurge.c
/freading.c
/freading.h
/freopen.c
/fseek.c
/fseeko.c
/fstat.c
/ftell.c
/ftello.c
/lseek.c
/open.c
/fileblocks.c
/stat-size.h
/gettimeofday.c
/localtime-buffer.c
/localtime-buffer.h
/mkdir.c
/sys_time.in.h
/tempname.c
/tempname.h
/filenamecat-lgpl.c
/filenamecat.c
/filenamecat.h
/randint.c
/randint.h
/rand-isaac.c
/rand-isaac.h
/randread.c
/randread.h
/stdalign.in.h
/stdio--.h
/stdio-safer.h
/unistd--.h
/unistd-safer.h
/unlocked-io.h
/windows-initguard.h
/windows-rwlock.c
/windows-rwlock.h
/ctype.in.h
/dup-safer.c
/fd-safer.c
/fopen-safer.c
/pipe-safer.c
/xstrndup.c
/xstrndup.h
